/* ========================================================================= */
/* NAVBAR STYLING */
/* ========================================================================== */
.navbar {
    border-bottom: solid 8px #343a40;
}

/* ========================================================================= */
/* CAROUSEL STYLING */
/* ========================================================================== */

.carousel-inner {
    height: 35rem;
}

/* ========================================================================= */
/* MEDIA QUERIES */
/* ========================================================================== */
@media (min-width: 768px) {
    .caption-one {
        top: 46%;
        background-color: rgba(255, 255, 255, 0.5);
        left: 0;
        height: 20%;
    }
    .caption-two {
        top: 60%;
        background-color: rgba(255, 255, 255, 0.5);
        left: 0;
        height: 30%;
    }
    .caption-three {
        top: 49%;
        background-color: rgba(255, 255, 255, 0.5);
        left: 0;
        height: 30%;
    }
    .caption-four {
        top: 44%;
        background-color: rgba(255, 255, 255, 0.5);
        left: 0;
        height: 30%;
    }
}